{% extends 'layout.html' %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <h1 class="h1title">User list</h1>
    {% for i in range(1,size) %}

        <div class="user_list">
            <div class="user_list_i">
                <img src={{ User.query.filter_by(id=i).first().profile.photo }} width="10%" height="90%">
                <a href="/user/{{ User.query.filter_by(id=i).first().username }}">{{ User.query.filter_by(id=i).first().username }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}